@model List<Category>

<div>
    <ul>
        @foreach (var category in @Model)
        {
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button href="@Url.Action("Admin", "Category", @category)" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@category.CategoryID" aria-expanded="false" aria-controls="collapseOne">
                            @category.CategoryName
                        </button>
                    </h2>
                    <div  id="collapse_@category.CategoryID" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            @category.Description
                        </div>
                    </div>
                </div>
            </div>


        }
    </ul>

</div>
